{% extends "base.html" %}

{% block title %} All Hotel {% endblock %}

{% block content %}

    <h2> All Hotel </h2>


    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Star</th>
    </tr>
  </thead>
  <tbody>
  {% for hotel in hotels %}
    <tr>
      <th scope="row">{{hotel.hotel_id}}</th>
      <td>{{hotel.name}}</td>
      <td>{{hotel.address}}</td>
      <td>{{hotel.star}}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>

{% endblock %}